<div class="container card">
    <div class="card-body">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Nombre Precio</th>
                    <th>Monto</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of productOfferingPrices">
                    <td>{{row.versions[0].name}}</td>
                    <td>{{row.versions[0].price.amount | currency}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>